[Unit]
Description=Clean up temporary files

[Service]
Type=oneshot
ExecStart=/usr/bin/tmpwatch -vf 7d ${HOME}/tmp ${HOME}/Downloads

[Install]
WantedBy=default.target

